header {
  background-color: wheat;
  border: dashed black 0.1em;
  border-left-width: 1em;
  padding: 1em;
  height: 1em;
  transition: background-color .5s, height 1s;
  -webkit-transition: background-color .5s, height 1s;
  -moz-transition: background-color .5s, height 1s;
  -ms-transition: background-color .5s, height 1s;
  -o-transition: background-color .5s, height 1s;
}

header:hover{
  border: solid red 2px;
  background-color: brown;
  height: 4em;
  font-family: 'Courier New', Courier, monospace;
}

header:hover a{
  color: wheat;
}

header a::before{
  content: "-";
  display: inline-block;
  background-color: brown;
  margin: 0.5em;
  width: 1em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

header a:first-child::before{
  display: none;
}

a {
  text-decoration: none;
  color: navy;
}

a:link {
  color: red;
}

a:hover {
  color: green;
}

a::before{
  content: "$";
  color: purple;
  background-color: aqua;
}

footer a {
  color: skyblue;
}

article {
  padding: 2em;
}

article progress a {
  background-color: yellow;
}

footer {
  background-color: black;
  height: 1em;
  padding: 1em;
  color: white;
}

#floater {
  position: fixed;
  height: 20em;
  width: 30em;
  top: calc(50vh - 10em);
  left: calc(50vw - 15em);
  padding: 2em;
  background-color: rgba(50,255,10,0.1);
  color: white;
}