html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#mainGallery {
  margin: 1rem;
  padding: 1rem;
  background-color: tan;
  min-height: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.dogTag {
  background-color: white;
  width: 15rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.dogTag img {
  float: left;
  margin-right: 1rem;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}